<html>
   <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}" />
      <script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>
   </head>
   <body>
      <div class="container" th:if="${user.akaOrdersDTO}">
      <th:block th:with="listOrders=${user.akaOrdersDTO}">
         <th:block th:each="order : ${listOrders}">
            <div class="card">
               <div class="card-header">
                  <div class="row">
                     <th:block th:each="item : ${order.akaOrderItemsDTO}">
                        <div class="col-12 col-sm-12 col-md-auto col-lg-auto" th:text="${item.id.akaProduct.name}">Descrição</div>
                     </th:block>
                  </div>
               </div>
               <div class="card-body">
                  <div class="row mb-20">
                  	 <h2 class="text-uppercase">Detalhes do pedido</h2>
	                     <div class="col col-lg-6 col-md-12 col-sm-12 ">
	                        <ul class="list-group list-group-flush">
	                           <li class="list-group-item d-flex justify-content-between align-items-start">
	                              <div class="ms-2 me-auto">
	                                 <div class="fw-bold">Valor:</div>
	                                 <label th:text="${order.getTotalValue()}"></label>
	                              </div>
	                           </li>
	                           <li class="list-group-item d-flex justify-content-between align-items-start">
	                              <div class="ms-2 me-auto">
	                                 <div class="fw-bold">Data pedido:</div>
	                                 <label th:text="${order.dtInsert}"></label>
	                              </div>
	                           </li>
	                           <li class="list-group-item d-flex justify-content-between align-items-start">
	                              <div class="ms-2 me-auto">
	                                 <div class="fw-bold">Descrição do pedido:</div>
	                                 <textarea class="form-control" th:text="${order.name}"></textarea>
	                              </div>
	                           </li>
	                        </ul>
	                     </div>
                     </div>
                     <div class="row">
	                     <h2 class="text-uppercase">Produtos</h2>
	                     <th:block th:each="item,inter : ${order.akaOrderItemsDTO}">
	                           <div class="col-md-8 col-sm-12 col-12">
	                              <ul class="list-group list-group-flush">
	                                 <li class="list-group-item d-flex justify-content-between align-items-start">
	                                    <div class="ms-2 me-auto">
	                                       <div class="fw-bold">Descrição:</div>
	                                       <label th:text="${item.id.akaProduct.name}">Cras justo odio</label>
	                                    </div>
	                                 </li>
	                                 <li class="list-group-item d-flex justify-content-between align-items-start">
	                                    <div class="ms-2 me-auto">
	                                       <div class="fw-bold">Quntidade:</div>
	                                       <label th:text="${item.quantity}">Cras justo odio</label>
	                                    </div>
	                                 </li>
	                                 <li class="list-group-item d-flex justify-content-between align-items-start">
	                                    <div class="ms-2 me-auto">
	                                       <div class="fw-bold">Valor:</div>
	                                       <label th:text="${item.price}">Cras justo odio</label>
	                                    </div>
	                                 </li>
	                              </ul>
	                           </div>
	                           <div class="col col-lg-4 col-md-4 col-sm-12 col-12" >
	                              <div th:attrappend="id='carouselExampleDark'+${inter.index}" class="carousel carousel-dark slide" data-bs-ride="carousel">
	                                 <div class="carousel-indicators">
	                                    <button type="button"  data-bs-slide-to="0" th:attrappend="data-bs-target='#carouselExampleDark'+${inter.index}" class="active" aria-current="true" aria-label="Slide 1"></button>
	                                    <button type="button" th:attrappend="data-bs-target='#carouselExampleDark'+${inter.index}" data-bs-slide-to="1" aria-label="Slide 2"></button>
	                                 </div>
	                                 <div class="carousel-inner">
	                                    <th:block th:each="file, inter: ${item.id.akaProduct.akaFiles}">
	                                       <div th:attrappend="class=${inter.index} == 0 ? 'carousel-item active': 'carousel-item'">
	                                          <img  th:if="${file.akaFileType} == ${T(br.com.akasystem.akasales.enums.AKAFileType).IMAGE}" class="d-block w-100 " style="width: 200px; height: 350px" sty th:src="${file.source}"/>
	                                       </div>
	                                    </th:block>
	                                 </div>
	                                 <button class="carousel-control-prev" type="button" th:attrappend="data-bs-target='#carouselExampleDark'+${inter.index}" data-bs-slide="prev">
	                                 	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
	                                 	<span class="visually-hidden">Previous</span>
	                                 </button>
	                                 <button class="carousel-control-next" type="button" th:attrappend="data-bs-target='#carouselExampleDark'+${inter.index}" data-bs-slide="next">
	                                 	<span class="carousel-control-next-icon" aria-hidden="true"></span>
	                                 	<span class="visually-hidden">Next</span>
	                                 </button>
	                              </div>
	                           </div>
	                           <hr>
	                     </th:block>
                     </div>
                  </div>
               </div>
         </th:block>
      </th:block>
      </div>
   </body>
</html>